* {
    background-color: rgb(221, 198, 65);
    margin: 0px;
    padding: 0px;
}

h1 {
    color: purple;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62px;
}
.heading {
    margin-bottom: 0px;
}

h2 {
    color: purple;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
.sub-heading {
    margin-bottom: 0px;
    padding-top: 16px;
}

.underline {
    background-color: purple;
    margin-top: 0px;
    margin-bottom: 0px;
}

.master-container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 20px ;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

